

{% extends 'enroll/base.html' %}
{% block content  %}
<div class="row">
    <div class="col-sm-3">
        <h4 class="text-center alert alert-info">Add New Employee</h4>
        <form action="" method="POST">
         {% csrf_token %}
         {{form.as_p}}    
        <input type="submit" class="btn btn-success" value="Add">
        <input type="reset" class="btn btn-dark" value="Reset">

        </form>
    </div>
    <div class="col-sm-9">
        <h4 class="text-center alert alert-info">Show Employee Information</h4>
        {% if em %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">PAN</th>
                <th scope="col">AGE</th>
                <th scope="col">GENDER</th>
                <th scope="col">EMAIL</th>
                <th scope="col">CITY</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
                {% for e in em %}
                    <tr>
                        <th scope="row">{{e.id}}</th>
                        <td>{{e.name}}</td>
                        <td>{{e.pan}}</td>
                        <td>{{e.age}}</td>
                        <td>{{e.gender}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.city}}</td>
                        <td>
                            <a href="{% url 'updatedata' e.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <form action="{% url 'deletedata' e.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </div>
</div>
{% endblock content %}